.pl-14 {
    padding-left: 3.25rem;
}

.pl-15 {
    padding-left: 3.5rem;
}

.pl-18 {
    padding-left: 5rem;
}


///
label {
    @apply flex;
    @apply text-base;
    @apply text-gray-900;
    @apply mb-2;
}

legend {
    @apply flex;
    @apply text-sm;
    @apply text-gray-900;
}

p {
    @apply text-gray-500;
    @apply text-sm;
}

body {
    font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-size: 14px;
    line-height: 24px;
    -webkit-font-smoothing: antialiased;
}

////////// primary ////////////////////

.focus\:primary {
    @apply focus:border-indigo-500;
    @apply focus:ring-indigo-500;
}

///
.focus-within-border\:primary {
    @apply focus-within:z-10;
    @apply focus-within:border-indigo-600;
    @apply focus-within:ring-1;
    @apply focus-within:ring-indigo-600;
}


.btn-primary {
    @apply inline-flex;
    @apply items-center;
    @apply rounded-md;
    @apply border;
    @apply border-transparent;
    @apply bg-indigo-600;
    @apply text-white;
    @apply shadow-sm;
    @apply hover:bg-indigo-700;
    @apply focus:outline-none;
    @apply focus:ring-2;
    @apply focus:ring-indigo-500;
    @apply focus:ring-offset-2;
    @apply px-4;
    @apply py-2;
    @apply font-medium;
}




////////// end of primary ////////////////////


////////// error ////////////////////

.focus\:err {
    @apply focus:ring-red-500;
    @apply focus:border-red-500;
}

input.err {
    @apply focus:ring-red-500;
    @apply focus:border-red-500;
}

.err,
svg.text-err,
.text-err {
    @apply text-red-500;
}

////////// end of error ////////////////////


/////////// success ////////////////////

.focus\:success {
    @apply focus:ring-green-600;
    @apply focus:border-green-600;
}

input.success {
    @apply focus:ring-green-600;
    @apply focus:border-green-600;
}

.success,
svg.text-success,
.text-success {
    @apply text-green-600;
}


/////////// end of success /////////////



//input
[type=text],
[type=email],
[type=url],
[type=password],
[type=number],
[type=date],
[type=datetime-local],
[type=month],
[type=search],
[type=tel],
[type=time],
[type=week],
[multiple],
textarea,
select {
    @apply block;
    @apply w-full;
    @apply border-gray-300;
    @apply focus:primary;
    @apply sm:text-sm;

    &.disabled {
        @apply disabled:cursor-not-allowed;
        @apply disabled:border-gray-200;
        @apply disabled:bg-gray-50;
        @apply disabled:text-gray-500;
    }

    @apply focus:z-10;
}


.input-wrap {
    @apply relative;

    .prefix {
        @apply absolute;
        @apply inset-y-0;
        @apply left-0;
        @apply flex;
        @apply items-center;
        @apply pl-3;

        @apply text-sm;
        @apply text-gray-500;

        svg {
            @apply text-gray-400;
        }

        svg.err,
        svg.text-err {
            @apply text-red-500;
        }

        select {
            @apply border-transparent;
            @apply bg-transparent;
            @apply focus:ring-0;
        }
    }

    .suffix {
        @apply absolute;
        @apply inset-y-0;
        @apply right-0;
        @apply flex;
        @apply items-center;
        @apply pr-3;
        @apply text-sm;
        @apply text-gray-500;

        svg {
            @apply text-gray-400;
        }

        svg.err,
        svg.text-err {
            @apply text-red-500;
        }

        svg.success,
        svg.text-success {
            @apply text-green-600;
        }

        select {
            @apply border-transparent;
            @apply bg-transparent;
            @apply focus:ring-0;
        }

        kbd {
            @apply inline-flex;
            @apply items-center;
            @apply rounded;
            @apply border;
            @apply border-gray-200;
            @apply px-2;
            @apply font-sans;
            @apply text-sm;
            @apply font-medium;
            @apply text-gray-400;
        }

    }
}


//box
.box {
    @apply rounded-lg;
    @apply bg-white;
    @apply shadow;
    @apply px-4;
    @apply py-5;
    @apply sm:p-6;
}